:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: larger;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "CustomFontThin";
  src: url("/Epilogue/static/Epilogue-Thin.ttf");
}

@font-face {
  font-family: "CustomFontLight";
  src: url("/Epilogue/static/Epilogue-Light.ttf");
}

@font-face {
  font-family: "CustomFontRegular";
  src: url("/Epilogue/static/Epilogue-Regular.ttf");
}



article {
  border: 1px black solid;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
  /* border: 2px aqua dotted; */
  font-family: "CustomFontRegular";
  background-color: bisque;
  color: black;
}

button {
  width: 90%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: bisque;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: black;
  color: bisque;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 1px;
  max-width: 30%;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 10px;
  text-align: justify;
}

footer {
  text-align: center;

  width: 100%; /* Make the footer span the entire width */
  background-color: bisque; /* Adjust background color as needed */
  color: #000000; /* Adjust text color as needed */
}
header {
  font-size: 128px;

  width: 100vw;
  padding: 25px;
}

h1 {
  font-size: 128px;
  line-height: 1.1;
  padding: 25px;
  margin: 0px;
}
h2 {
  font-size: 40px;
}

.rightColumn > p {
  background-color: rgb(4, 4, 4);
  color: bisque;
}

.italic {
  font-style: italic;
}

.leftImage {
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}
.main {
  max-width: 100vw;
  text-align: left;
  padding: 0px;

  
}

.mainImage {
  min-width: 95%;
}

.rightImage {
  min-width: 50%;
  float: right;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
}

#app {
  /* max-width: 1280px; */
  width: 100vw;
  height: fit-content;
  /* margin: 0 auto; */
  padding: 0px;
  text-align: center;
  /* border: 2px red solid; */
}
